 <style>
        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
<div>
   <form id="productForm">
    <h2>Agregar Nuevo Producto</h2>
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required><br>
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" required><br>
    <label for="code">Código:</label>
    <input type="text" id="code" name="code" required><br>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required><br>
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required><br>
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" required><br>
    <button type="submit">Agregar Producto</button>
  </form>
  <h1>Lista de Productos</h1>
  <div id="productList">
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.emit('new', "");

  document.getElementById('productForm').addEventListener('submit', function (event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const newProduct = {};
    formData.forEach((value, key) => {
      newProduct[key] = value;
    });
    socket.emit('productos', newProduct);
    event.target.reset();
  });

  socket.on('realTimeProducts', productos => {
    const productList = document.getElementById('productList');
    productList.innerHTML = ''; 
    productos.forEach(producto => {
      const productDiv = document.createElement('div');
      productDiv.classList.add('product');
      productDiv.innerHTML = `
        <h2>${producto.idProduct}</h2>
        <h2>${producto.title}</h2>
        <p>${producto.description}</p>
        <p>Código: ${producto.code}</p>
        <p>Precio: $${producto.price}</p>
        <p>Stock: ${producto.stock}</p>
        <p>Categoría: ${producto.category}</p>
        <button class="deleteButton" data-product-code="${producto.idProduct}">Eliminar</button>
      `;
      productList.appendChild(productDiv);
    });

    function confirmDelete(id) {
        socket.emit('eliminarProducto', id);
    }

    document.querySelectorAll('.deleteButton').forEach(button => {
      button.addEventListener('click', function () {
        const productCode = this.getAttribute('data-product-code'); 
        socket.emit('eliminarProducto', productCode); 
      });
    });
  });
</script>
